<div class="home-div">
  <div class="nav">
    <h1 class="hero">ForeFlight Airport Data</h1>
    <input
      class="input-airport-id"
      placeholder="Airport Identifier"
      type="text"
      name="airport-name"
      [(ngModel)]="airportID"
    />
    <button class="search-button" (click)="addAirport()">🔍</button>
  </div>
  <div class="airport-information" *ngIf="myData">
    <h1 class="airport-name">{{ myData.Name }}</h1>
    <div class="airport-details">
      <p>Identifier: {{ myData.Identifier }}</p>
      <p>Available Runways: {{ myData.AvailableRunways }}</p>
      <p>Lat: {{ myData.Lat }}</p>
      <p>Long: {{ myData.Long }}</p>
      <p>Temperature: {{ myData.Temperature }} F</p>
      <p>Relative Humidity: {{ myData.RelativeHumidity }}</p>
      <p>Visibility: {{ myData.VisibilityMiles }} mi</p>
    </div>
    <div class="airport-periods"></div>
  </div>
</div>
